<div class='container'>
  <div class='jumbotron text-center'>
    <h1>Tim's Twitter Clone</h1>
    <p>This is the home page of my Twitter clone</p>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>